.color-box
{
    display: flex;              
    justify-content: center;    /* center horizontally */
    font-size: 60px;
}

.color-buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
}

.reset-button 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

button
{
    border-radius: 5cm;
    border-color: whitesmoke;
    height: 50px;
    width: 100px; 
}
.color-buttons #salmon 
{
    margin: 10px;
    background-color: salmon;
    color: white;
}

.color-buttons #cyan
{
    margin: 10px;
    background-color: cyan;
    color: white;
}

.color-buttons #lightGreen 
{
    margin: 10px;
    background-color: lightgreen;
    color: white;
}

.color-buttons #black 
{
    margin: 10px;
    background-color: black;
    color: white;
}

.reset-button #reset 
{
    background-color: gray;
    color: white;
}
